/* Layout */
:root {
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  width: 100vw;
  min-height: 100vh;

  padding: 0;
  margin: 0;

  overflow: hidden;

  background-color: transparent;
  color: #fff;
}

.bg {
  background-color: #000c18;

  width: 100vw;
  height: 100vh;

  position: fixed;
  left: 0%;
  top: 0%;
  z-index: -1;
}

.main {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 960px;
  height: 100vh;

  margin: 0 auto;

  background-color: #031324;
  box-shadow: 0 0 50px #000a;

  overflow-y: auto;

  hr {
    width: 100%;
    margin: 0;

    border: none;
    border-top: 4px solid #001f38;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: #001f38;
  text-align: center;

  padding: 3rem 7.5rem;

  & > b {
    font-size: 2rem;
  }

  & > span {
    font-size: 1.5rem;
  }
}

.error-page {
  position: absolute;
  left: 50%;
  top: 50%;

  translate: -50% -50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  filter: drop-shadow(0 5px 5px #0002);

  img {
    max-width: calc(100vw - 8rem);
    border-radius: 0.5rem;
  }
}

a {
  color: #1d8be9;
  text-decoration: none;
}

code {
  color: #fffa;
}

/* Components */
button[data-component="button"] {
  background-color: #000;
  color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;

  border: none;
  cursor: pointer;

  font-family: inherit;
  font-size: 1.1rem;

  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;

  transition: filter 0.125s;

  &:hover {
    filter: brightness(1.15);
  }

  &:active {
    filter: brightness(1);
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      filter: brightness(1);
    }
  }

  &[data-variant="primary"] {
    background-color: #1d8be9;

    &:disabled {
      background-color: #3f78a8;
      color: #95c2e8;
    }
  }

  &[data-variant="secondary"] {
    background-color: #213343;

    &:disabled {
      background-color: #131a20;
      color: #73787d;
    }
  }
}

input[data-component="input"] {
  background-color: transparent;
  color: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 0.5rem;

  border: 2px solid #fff2;
  cursor: pointer;
  outline: none;

  font-family: inherit;
  font-size: 1.1rem;

  padding: 0.625rem 0.75rem;
  border-radius: 0.5rem;

  transition: border-color 0.125s, opacity 0.125s;

  &:hover {
    border-color: #fff4;
  }

  &:focus {
    border-color: #1d8be9;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

details[data-component="collapsible"] {
  display: flex;
  flex-direction: column;

  padding: 1.75rem 4rem;
  font-size: 1.25rem;

  &[data-open="true"] {
    summary > svg {
      rotate: 180deg;
    }
  }

  summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    user-select: none;
    cursor: pointer;

    b {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      width: 100%;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      font-size: 1.75rem;

      small {
        background-color: #fff2;

        padding: 0.25rem 0.75rem;
        border-radius: 100vw;

        font-size: 1rem;
      }
    }

    svg {
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  p {
    margin: 1rem 0;
  }
}
