.feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 2.5rem 7.5rem;

  img {
    width: 18rem;
    aspect-ratio: 16/9;

    border: none;
    border-radius: 0.5rem;
    background-color: #fff2;
  }

  div {
    display: flex;
    flex-direction: column;
    height: fit-content;

    b {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      font-size: 2rem;

      small {
        background-color: #fff2;

        padding: 0.25rem 0.75rem;
        border-radius: 100vw;

        font-size: 1rem;
        order: -1;
      }
    }

    span {
      font-size: 1.25rem;
    }
  }

  &[data-reverse="true"] {
    flex-direction: row-reverse;
    text-align: right;

    b {
      justify-content: flex-end;
    }
  }
}

.footnotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding-bottom: 2.5rem;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contributors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 2.5rem 7.5rem;

  b {
    font-size: 2rem;
  }

  .list {
    --gap: 1rem;
    --size: 4rem;
    --max-per-row: 7;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap);

    width: calc((var(--gap) + var(--size)) * var(--max-per-row));

    img {
      width: var(--size);
      height: var(--size);
      aspect-ratio: 1;

      background-color: #fff2;

      border-radius: 100vw;

      box-shadow: 0 0 0 4px #1d8be900;
      transition: box-shadow 0.25s;

      &:hover {
        box-shadow: 0 0 0 4px #1d8be988;
      }
    }
  }
}
